@font-face {
  font-family: 'bfont';
  src:  url('fonts/bfont.eot?qrl3fe');
  src:  url('fonts/bfont.eot?qrl3fe#iefix') format('embedded-opentype'),
    url('fonts/bfont.ttf?qrl3fe') format('truetype'),
    url('fonts/bfont.woff?qrl3fe') format('woff'),
    url('fonts/bfont.svg?qrl3fe#bfont') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'bfont' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow:before {
  content: "\32";
}
.icon-brushb:before {
  content: "\34";
}
.icon-brusht:before {
  content: "\33";
}
.icon-tie:before {
  content: "\31";
}
