@font-face {
  font-family: 'bfont';
  src:  url('fonts/bfont.eot?r3xbtj');
  src:  url('fonts/bfont.eot?r3xbtj#iefix') format('embedded-opentype'),
    url('fonts/bfont.ttf?r3xbtj') format('truetype'),
    url('fonts/bfont.woff?r3xbtj') format('woff'),
    url('fonts/bfont.svg?r3xbtj#bfont') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'bfont' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-brushb:before {
  content: "\34";
}
.icon-arrow:before {
  content: "\32";
}
.icon-tie:before {
  content: "\31";
}
.icon-upbutton:before {
  content: "\35";
}
.icon-bussign:before {
  content: "\33";
}
