body {
  margin: 0px;
  background-color: #FDFDFA;
  display: block;
  height: 400vh;
  max-height: 400vh;
  max-width: 100vw;
  color: #1D1A11;
  font-family: "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.4;
  text-decoration: none;
  overflow-x: hidden;
}


/* ANIMATIONS SECTION ===================================================================================================================== */
/*animation: name duration timing-function delay iteration-count direction fill-mode play-state;*/

@keyframes moveleft {
    0% {
        -webkit-transform: translate(15px,0);
        -ms-transform: translate(15px,0);
        transform: translate(15px,0);
    }
    100% {
        -webkit-transform: translate(0px);
        -ms-transform: translate(0px);
        transform: translate(0px);
    }
}
@keyframes moveup {
    0% {
        -webkit-transform: translate(0,15px);
        -ms-transform: translate(0,15px);
        transform: translate(0,15px);
    }
    100% {
        -webkit-transform: translate(0px);
        -ms-transform: translate(0px);
        transform: translate(0px);
    }
}
@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes halffadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.5;
    }
}

/* TOP LEFT BUTTON SECTION ===================================================================================================================== */


.btnbox {
  position: fixed;
  left: 0px;
  bottom: 0px;
  z-index: 2;
  display: block;
    opacity: 0;
    animation: moveup 800ms ease 200ms, fadein 800ms cubic-bezier(0.47, 0, 0.745, 0.715) 200ms;
    animation-fill-mode: forwards;
}

@media (max-width: 480px) {
  .btnbox {
  padding-bottom: 3.15vh;
  padding-left: 4vw;
  }
}
@media (min-width: 481px) {
  .btnbox {
  padding-bottom: 3.15vh;
  padding-left: 40px;
  }
}
@media (min-width: 960px) {
  .btnbox {
    padding-bottom: 30px;
    padding-left: 40px;
  }
}




/* BOTTOM LEFT BUTTON SECTION ==================================================================================================================== */


.navbutton {
  position: relative;
  display: flex;
  align-items: flex-start;
  padding: 0;
  flex-direction: column;
  font-family: bfont;
}

@media (max-width: 480px) {
  .navbutton {
    font-size: 0.7em;
  }
}
@media (min-width: 481px){
    .navbutton {
        font-size: 0.9em;
    }    
}
@media (max-width: 959px) {
  .navbutton {
    margin: 0.3vh 0;
  }
}
@media (min-width: 960px) {
  .navbutton{

    height: 36px;
    width: 260px;
    margin: 15px;
    font-size: 27pt;
  }
}
@media (min-width: 960px) {
    .navbutton._2 {
        margin-top: 15px;
    }
}
@media (min-width: 960px) {
    .navbutton._3 {
        margin-top: 20px;
    }
}

.sidebar {
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
  z-index: 2;
  display: block;
  padding-bottom: 48px;
  padding-right: 40px;
    opacity: 0;
    animation: moveup 800ms ease 200ms, fadein 800ms cubic-bezier(0.47, 0, 0.745, 0.715) 200ms;
    animation-fill-mode: forwards;
}

.upbutton {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 3;
  display: block;
  font-family: 'bfont';
  font-weight: 600;
  color: #1D1A11;
  font-size: 50pt;
}

@media (max-width: 480px) {
  .upbutton {
    font-size: 1.5em;
    margin-left: 20px;
    margin-top: 3vw;
  }
}
@media (min-width: 481px){
    .upbutton {
        font-size: 1.7em;
        margin-left: 5vw;
        margin-top: 1.5vw;
    }    
}
@media (min-width: 960px){
    .upbutton {
        font-size: 50pt;
        margin-top: 2vh;
        margin-left: 2vw;
    }    
}


.navbutton:hover,
.upbutton:hover {
  color: #e60000;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #1d1a11;
}




/* INTRO SECTION =====================================================================================================================*/

#intro {
  position: relative;
  height: 100vh;
  top: 0;
  display: flex;
    justify-content: center;
    flex-direction: column;
}



/* IMAGES SUBSECTION =================================================================== */

.cat {
    height: 100vh;
    width: 100%;
    object-position: 100% 0;
    object-fit: cover;
    opacity: 0;
    animation: moveleft 1000ms ease 25000ms, halffadein 1000ms cubic-bezier(0.47, 0, 0.745, 0.715) 25000ms;
    animation-fill-mode: forwards;
}

.self {
    position: absolute;
    height: 100vh;
    width: 100%;
    object-position: 25% 0;
    object-fit: cover;
}



/* TEXT SUBSECTION =================================================================== */

.introtext {
    position: absolute;
    padding: 2%;
}

@media (max-width: 480px){
    .introtext {
        padding: 15vh 11vw 15vh 18vw;
    }    
}
@media (min-width: 481px){
    .introtext {
        padding: 15vh 11vw 15vh 18vw;
    }    
}
@media (min-width: 1281px){
    .introtext {
        padding: 15vh 11vw 15vh 35vw;
    }    
}

.introtext h1 {
    margin: 0;
    letter-spacing: -.15vw;
    line-height: 0.87;
    opacity: 0;
    animation: moveup 1000ms ease 0s , fadein 1000ms cubic-bezier(0.47, 0, 0.745, 0.715) 0s;
    animation-fill-mode: forwards;
}

@media (max-width: 480px){
    .introtext h1 {
        margin-bottom: 2.5vh;
        font-size: 12vw;
    }    
}
@media (min-width: 481px){
    .introtext h1 {
        font-size: 8vw;
    }    
}
@media (min-width: 1281px){
    .introtext h1 {
        font-size: 4.3em;
    }    
}

.introtext p {
    line-height: 1.2;
    opacity: 0;
    animation: moveup 800ms ease 200ms, fadein 800ms cubic-bezier(0.47, 0, 0.745, 0.715) 200ms;
    animation-fill-mode: forwards;
}

@media (max-width: 480px){
    .introtext p {
        font-size: 4.5vw;
    }    
}
@media (min-width: 481px){
    .introtext p {
        padding-top: 1vw;
        font-size: 3vw;
    }    
}
@media (min-width: 1281px){
    .introtext p {
        padding-top: .5em;
        font-size: 1.7em;
    }    
}




/* MID SECTION ============================================================================================================================== */


#vision {
  height: 100vh;
  background: linear-gradient(200deg, #fdfdfa, #ecf5e9, #d3eee0, #b5e7e1, #99deea);
}



/* PROJECT SECTION ========================================================================================================================== */

 
#projects {
  position: relative;
  height: 250vh;
  background: linear-gradient(185deg, #5dc0d1, #8ed1ca, #bcdfce, #e2edde, #fdfdfa, #fdfdfa);
}

html {
  scroll-behavior: smooth;
}

#project {
    
}

#project img{
    
}

#focus {
    
}

/* 
.pcontain {
  height: 250vh;
  max-width: 960px;
  padding-top: 10vh;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 480px) {
  .pcontain {
    max-width: 75vw;
  }
}

.project {
  position: relative;
  float: left;
  left: 0px;
  top: auto;
  right: 0px;
  bottom: 0px;
  line-height: 1;
  display: inline-block; 
}

@media (min-width: 481px) {
  .project {
    width: 25.33%;
    margin: 0 4% 10% 4%;
  }
}
@media (max-width: 480px) {
  .project {
    width: 100%;
    margin: 10% 0 14% 0;
  }
}

.project:hover {
  cursor: pointer;
}

.project img {
  float: left;
  height: auto;
  width: 100%;
  transition: all 400ms ease;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
}

.text {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  opacity: 0;
  font-size: 6vw;
  letter-spacing: 0.25vw;
  transition: transform 400ms ease, opacity 400ms ease;
  -webkit-transition: -webkit-transform 400ms ease, -webkit-opacity 500ms ease;
  -moz-transition: -moz-transform 400ms ease, opacity 500ms ease;
  -ms-transition: -ms-transform 400ms ease, opacity 500ms ease;
  -o-transition: -o-transform 400ms ease, opacity 500ms ease;
}

@media (max-width:479px) {
  .text {
    font-size: 27vw;
    letter-spacing: 1vw;
  }
}

@media (min-width:480px) {
  .text {
    font-size: 9vw;
    letter-spacing: 0.25vw;
  }
}

@media (max-width:960px) {
  .text {
    opacity: 1;
  }
}

@media (min-width:960px) {
  .text {
    font-size: 66pt;
    letter-spacing: 0.25vw;
  }
}

@media (min-width: 960px) {
  .text.show {
    font-size: 66pt;
    letter-spacing: 0.25vw;
    opacity: 1;

    transition: opacity 400ms ease;
    -webkit-transition: -webkit-opacity 500ms ease;
    -moz-transition: opacity 500ms ease;
    -ms-transition: opacity 500ms ease;
    -o-transition: opacity 500ms ease;
  }
}

@media (min-width: 960px) {
  .project img.show {

    filter: blur(2px);
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -ms-filter: blur(2px);
    -o-filter: blur(2px);

    transition: all 400ms ease;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
  }
}

@keyframes fadeinmenu { 
    0% {
    opacity: 0;
    }
	100% {
	opacity: 1;
	}
}

@media (min-width:480px) {
    .pcontain a {
        opacity: 0;
    }
}

@media (min-width:480px) {
    .pcontain.show a{
        -webkit-animation: fadeinmenu 1250ms ease-out forwards;
        -moz-animation: fadeinmenu 1250ms ease-out forwards;
        animation: fadeinmenu 1250ms ease-out forwards;
        animation-fill-mode: forwards;
    }
}

@media (min-width:480px) {
    .pcontain.show a:nth-child(1) {
    	-webkit-animation-delay: 100ms;
    	-moz-animation-delay: 100ms;
    	animation-delay: 100ms;
    }
}

@media (min-width:480px) {
    .pcontain.show a:nth-child(2) {
    	-webkit-animation-delay: 200ms;
    	-moz-animation-delay: 200ms;
    	animation-delay: 250ms;
    }
}

@media (min-width:480px) {
    .pcontain.show a:nth-child(3) {
    	-webkit-animation-delay: 300ms;
    	-moz-animation-delay: 300ms;
    	animation-delay: 400ms;
    }
}

@media (min-width:480px) {
    .pcontain.show a:nth-child(4) {
    	-webkit-animation-delay: 400ms;
    	-moz-animation-delay: 400ms;
    	animation-delay: 550ms;
    }
}

@media (min-width:480px) {
    .pcontain.show a:nth-child(5) {
    	-webkit-animation-delay: 500ms;
    	-moz-animation-delay: 500ms;
    	animation-delay: 700ms;
    }
}

@media (min-width:480px) {
    .pcontain.show a:nth-child(6) {
    	-webkit-animation-delay: 600ms;
    	-moz-animation-delay: 600ms;
    	animation-delay: 850ms;
    }
}
 */

/* BOTTOM SECTION ========================================================================================================================== */

.busbottom {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.bus {
    position: relative; 
    display: block;
    float: right;
}

@media (max-width: 480px){
    .bus {
        width: 50%;
    }    
}
@media (min-width: 481px){
    .bus {
        width: 50%;
        margin-right: 1%;
    }    
}
@media (min-width: 960px) {
    .bus {
        width: 35%;
        margin-right: 1%;
  }
}

.signbottom{
    width: 100%;
    position: absolute;
    bottom: 0;
    
}

.bussign {
  position: relative; 
  display: block;
  float: right;
  width: 10%;
  
  font-family: bfont;
  z-index: 5;
}

@media (max-width: 480px){
    .bussign {
        width: 6.6%;
        right: 40.9vw;
        bottom: 20.35vw;
    }    
}
@media (min-width: 481px){
    .bussign {
        width: 6.6%;
        margin-right: 1%;
        right: 40.9vw;
        bottom: 20.35vw;
    }    
}
@media (min-width: 960px) {
    .bussign {
        width: 5%;
        margin-right: 1%;
        right: 28.5vw;
        bottom: 14.25vw;
  }
}
