.menubar {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr;
    flex-wrap: nowrap;
    background-color: rgba(50, 98, 115, 1);
    padding: 0px 10px;

}
         
.menubarlogo {
    justify-self: center;
    font-size: 50px;
    font-weight: 600;
    color: #EEEEEE;
    text-decoration: none;
}

.menubarcontent {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
}

.menubarbuttons {
    line-height: 50px;
    justify-self: start;
    font-size: 28px;
    padding: 0px 60px; 
    color: #EEEEEE;
    text-decoration: none;
}

/* WS 2.22 ~~ Header is close to end product. Fix the buttons to be aligned in the center. If I really want to I can try to format
 * it with different sized windows. Mobile support would be cool, but should not be primary focus. */

.backgroundimg {    
    position: absolute;
    background: url(images/city.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
    top: 0px;
    z-index: -1;
    filter: brightness(0.5);
}
 
body {
    background-color: #EEEEEE;
    color: #326273;
    font-family: transat,sans-serif;
    margin: 0px;
}

/* WS 2.16 -- Might use overflow to scroll down? Look into that idea.*/