.header {
    background-color: #5C9EAD;
    padding: 20px;
    text-align: center;
}

body {
    background-color: #EEEEEE;
    color: #326273;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    margin: 50px;
}

.backgroundimg {    
    background-image: url('images/city.jpg');
}

ol {list-style-type: lower-alpha;
padding: 5em; 
}

div {text-align: center}